In [2]:
import numpy as np
import pandas as pd

# 统计属性 ★
—— *.describe() 自动计算所有相关聚合函数

—— *.info() 获取格式信息

—— *.count() 获取列数量

—— *.pct_change() 计算百分数变化

—— ﹡.min() / ﹡.sum() / ﹡.mean() / ﹡.median() 中位数；默认遍历列

—— ﹡.average() 平均数 / ﹡.mad() 平均绝对距离差 / ﹡.var() 方差 / ﹡.std() 样本标准差
   
    pd.std(*) 默认是除以n-1 的，即是无偏的；而numpy中std()默认的是计算总体样本方差（除以n）

In [3]:
score = pd.DataFrame(np.random.randint(60,100,size = (4,3)),columns = ['语文','数学','英语'])
score

   语文  数学  英语
0  99  69  72
1  88  64  69
2  64  87  64
3  71  89  64

In [4]:
# score.describe()
score.info()
# score.count()
# score.sum()
# score.median()
score.min()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
语文    4 non-null int32
数学    4 non-null int32
英语    4 non-null int32
dtypes: int32(3)
memory usage: 128.0 bytes

语文    64
数学    64
英语    64
dtype: int32

In [4]:
# score.mad()
# score.var()
score.std()

语文     7.588368
数学     7.632169
英语    10.531698
dtype: float64

—— .cumsum() 遍历列，轴向依次累加。cummin()、.cummax()、.cumprod() 样本值的累计和

In [7]:
score.cumsum()
# score.cummin()
# score.cummax()
# score.cumprod()

    语文   数学   英语
0   77   67   71
1  147  145  159
2  208  217  247
3  285  277  343

# 相关系数与协方差

—— ﹡.cov() / np.cov(﹡) 协方差 

    X,Y两个变量，每个时刻的“X值与其均值之差”乘以“Y值与其均值之差”得到一个乘积，再对乘积求均值。
    如果协方差为正，说明X，Y同向变化，协方差越大说明同向程度越高；如果协方差为负，说明X，Y反向运动，协方差越小说明反向程度越高。

In [9]:
df = pd.DataFrame({
    'GDP':[900,1000,1100,1200,1300],
#     'foreign_Trade':[300,400,500,550,600],
#     'foreign_Trade':[300,350,280,250,380],
    'foreign_Trade':[400,500,500,600,700],
    'year':['2012','2013','2014','2015','2016']
})
df

    GDP  foreign_Trade  year
0   900            400  2012
1  1000            500  2013
2  1100            500  2014
3  1200            600  2015
4  1300            700  2016

In [17]:
#1、求所有数据的协方差
df.cov()

                   GDP  foreign_Trade
GDP            25000.0        17500.0
foreign_Trade  17500.0        13000.0

In [11]:
#2、求指定两个列数据的协方差
print(np.cov(df['GDP'],df['foreign_Trade']))   # 或 使用 df['GDP'].cov(df['foreign_Trade'])

[[25000. 17500.]
 [17500. 13000.]]

—— ﹡.corr() / np.corrcoef(﹡) 返回pearson相关系数

    用X、Y的协方差除以X的标准差和Y的标准差。所以，相关系数也可以看成协方差：一种剔除了两个变量量纲影响、标准化后的特殊协方差。
    1.也可以反映两个变量变化时是同向还是反向，如果同向变化为正，反向变化为负
    2.由于它是标准化后的协方差，因此更重的特性是，它消除了两个变量变化幅度的影响，而只是单纯反应两个变量单位变化的相似程度。

注意：

    相关系数不像协方差一样可以在＋\infty 到－\infty 间变化，它只能在＋1到－1之间变化
    当相关系数为1的时候两者相识度最大，同向正相关
    当相关系数为0的时候两者没有任何相似度，两个变量无关
    当相关系数为-1的时候两者变化的反向相似度最大，完全反向负相关

In [21]:
df.corr()

                    GDP  foreign_Trade
GDP            1.000000       0.970725
foreign_Trade  0.970725       1.000000

In [18]:
print(np.corrcoef(df['GDP'],df['foreign_Trade']))     # df['GDP'].corr(df['foreign_Trade'])

[[1.         0.97072534]
 [0.97072534 1.        ]]